
build/
cmake-build-debug/
*/build/
CMakeFiles
bin
.idea/
*.iml
venv/
.venv/
#Data_extracted/
arima_garch
Data_zips/
StatisticsPlots/
Backtesting/scalping_results/
Backtesting/data/mean_reversion
Backtesting/data/bayesian
ScalpingResults/
scalping/
*.png
*.jpg
ModelsMetrics
node_modules

