cmake-build-debug
cmake-build-release
build
.idea
Data_extracted
Data_zips
StatisticsPlots
scalping
venv/
TradingStrategies/*/*/build
*/cmake-build-debug
.venv
bin
Backtesting/scalping_results
*.png
*.jpg
CMakeFiles
ScalpingResults