build/
cmake-build-debug/
*/build/
CMakeFiles
bin

.idea/
*.iml

venv/
.venv/

Data_extracted/
Data_zips/
StatisticsPlots/
Backtesting/scalping_results/
Backtesting/data/
ScalpingResults/
scalping/

*.png
*.jpg
